.projectcontent{
    /* border: 1px solid black; */
    
        
    display: flex;
    flex-wrap: wrap;
    min-width: 300px;
    justify-content: space-around;
    }
    .h1{
        text-align: center;
    }