.rightbody{
    height:400px;
    width:50%;
  
    display: flex;
    flex-direction: column;
    align-items: center;
}

.messageform{
  
    display: flex;
    flex-direction: column;
   
}
.sendbtn{
    height:40px;
    width:120px;
    border:none;
    border-radius: 5px;
    color: white;
    background-color: #286DAB;
}

/* input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 3;
} */
