#contact{
    margin-top: 20px;
}
.contactme{
    height:100px;
    width:300px;
    margin: auto;
}
.contactbody{
    display: flex;
}

@media only screen and (max-width: 900px){
    .contactbody{
        flex-direction: column;
        margin-left:25px;
    }
}
