.leftbody{
    border-bottom: 1px solid #f2f2f2;
    border-top: 1px solid #f2f2f2;
    background-color: #fafafa;
 min-height: 200px;
 margin-top: 100px;
 width: 50%;
 font-family: 'Roboto', sans-serif;
 padding: 30px;
 min-width: 250px;
max-height: 380px;
/* border:1px solid black */
}

.maildiv{
 margin-top: 20px;

 display: flex;
 width:280px;
 gap:15px;
 /* border:1px solid red; */
}


.maildiv:hover{
 color: black;
}

.phonediv{

 width:200px;

 display: flex;
 gap:10px;
 /* border:1px solid red; */
}

.icondiv{
 margin-top: 20px;
 margin-left: 15px;
 width:100px;

 display: flex;
 gap:10px;
 /* border:1px solid  red; */
}

.icondiv img{
 width: 35px;
cursor: pointer;

}



.wrapper{
 margin-left: 30%;
 margin-top: 30px;
}

@media only screen and (max-width: 800px){
 .leftbody{
     width: 100%;
     border-bottom: none;
 }
 .wrapper{
 margin-left: 7%;

}
}