.leftbody{
    height:380px;
    width:50%;
   
    
}

.contactinfo{
    height:180px;
    width:400px;
    margin: auto;
   
}
.addressdiv{
    display: flex;
    height:70px;
  width:85%;
   text-align: left;
  
}
.addressdiv h4, .phonediv h4 , .maildiv h4{
    margin: 0;
    margin-top: 15px;
}
.addressdiv img{
    margin-top: 15px;
    margin-right: 20px;
}
.phonediv{
    display: flex;
    height:50px;
    width:85%;
   
      
}
.phonediv img{
    margin-top: 15px;
    margin-right: 20px;
}
.maildiv{
    display: flex;
    height:50px;
    width:85%;
  
    
}
.maildiv img{
    margin-top: 17px;
    margin-right: 20px;
}
.icondiv{
    display: flex;
    width:220px;
    margin-left:160px ;
    justify-content: space-around;
}